<div class="homepage-content ">
  <div class="homepage-photo center-block hidden-xs" style="background-image: url('<div class="homepage-content ">
  <div class="homepage-photo center-block hidden-xs" style="background-image: url('http://res.cloudinary.com/sweetdeal2016/image/upload/v1518347273/Studentsbackground_rklus4.jpg');">');">
  </div>
</div>
