
<!--adding litle container for languages-->
<div class=" above-navbar text-center">

</div>
<!-- First Container -->
<div class="container-fluid welcome-img text-center">
  <h1>
  <h3 class="welcome-title-police-fr">  6 eme Congrès International du Logement Intergenerationnel !</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Qui sommes nous?</h3>
  <p>Des experts qualifi&eacute;s, des associations du monde entier , des universitaires, des bin&ocirc;mes seniors-&eacute;tudiants, des l&eacute;gislateurs, des acteurs en lien avec la probl&eacute;matique du vieillissement et de l&rsquo;autonomie des ain&eacute;s, des journalistes se r&eacute;uniront les 20 et 21 mars 2017 &agrave; Bruxelles pour discuter du logement Interg&eacute;n&eacute;rationnel comme r&eacute;ponse aux d&eacute;fis d&eacute;mographiques et pr&eacute;senteront des exp&eacute;riences humaines dans le monde bas&eacute;es sur la solidarit&eacute; et l'innovation.</p>
<p class="x_MsoNormal"><a href="http://www.hiworldcongressmadrid2017.org/en/register" target="_blank" rel="noopener noreferrer"><strong>REGISTER FOR THE 6TH WORLD HOMESHARE CONGRESS!</strong></a></p> </p>

</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Where To Find Me?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>
