// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-img {
  margin-top:135px;
  background-image: image-url('homeshare2.jpg');
  background-size: cover;
  height: 580px;
}

.welcome-title-police {
  margin-top: 80px;
  font-size: 70px;
  font-weight: bold;
  color: #1177ab;
}

.margin-text {
  margin-top: 500px;
}

.margin {margin-bottom: 45px;}
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

