// .navbar: {
//   margin-bottom: 0px !important;
// }
.navbar-color {
  background-color: #ffffff;
  border-color: #090909;
  display: block;
  margin-bottom: 0px !important;
  }

.navbar-brand {
  color: #4d98e2;
  padding: 20px 23px;
}

.sticky {
  position: fixed ;
  top: 0;
  width: 100%
}
