// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome-bxl-img {
  margin-top:135px;
  background-image: image-url('facades-grand-place-bruxelles.jpg');
  background-size: cover;
  height: 580px;
}
